<Ui::Subsection @title="Nested lists">

  <p>
    Nested lists work the same as other lists, since <code>\{{drop-target}}</code>s <code>onDrop()</code> event doesn't bubble up to parent <code>\{{drop-target}}</code>s (this behaviour can be modified by setting the option <code>allowDropOnChildren</code> to <code>true</code>)
  </p>

  <div class="row mb-3">
    <div class="col-md-8">
      <Ui::Code @code={{this.jsCode}} @lang="js" />
      <Ui::Code @code={{this.hbsCode}} @lang="hbs" />
    </div>
    <div class="col-md-4">
      <ul class="list-group mb-3">
        {{#each this.root.childs as |item|}}
          <Examples::NestedLists::TreeItem
            @item={{item}}
            @parent={{this.root}}
            @onDrop={{this.move}}
          />
        {{/each}}
      </ul>
    </div>
  </div>
</Ui::Subsection>